.normal_message {
  width: 100%;
  padding: 20px;
}

.feedback_message {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  word-break: break-word;
}

.content > a {
  text-decoration: none;
  color: var(--mantine-color-blue-6);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: var(--mantine-color-blue-light);
  padding: 4px 8px;
  border-radius: 4px;
}

.content > a:hover {
  background-color: var(--mantine-color-blue-light-hover);
  color: var(--mantine-color-blue-7);
}

.content > a:focus {
  background-color: var(--mantine-color-blue-light-hover);
  color: var(--mantine-color-blue-7);
}

.loader {
  margin-left: 10px;
}

.pending {
  width: 100%;
  word-break: break-word;
}

.pending_text {
  color: var(--mantine-color-gray-7);
  font-style: italic;
  font-size: smaller;
}

.error {
  width: 80%;
  margin: 20px auto;
}
