.feedback {
  width: 100%;
}

.question {
  font-style: italic;
  font-size: 0.95rem;
}

.label {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 600;
  font-style: italic;
}

.after {
  margin-top: -10px;
  font-weight: 600;
  font-style: italic;
}

.question_group {
  padding-top: 10px;
  min-height: 50px;
}

.button:hover {
  background-color: var(--mantine-color-teal-2);
  color: var(--mantine-color-teal-7);
}

.button {
  background-color: var(--mantine-color-teal-1);
  color: var(--mantine-color-teal-9);
}

.no_pointer {
  pointer-events: none;
}

.paper {
  margin-bottom: 10px;
  margin-top: 10px;
}

.done {
  margin-bottom: 25px;
}
