.feedback {
  width: 100%;
}

.thumbs_feedback {
  padding-left: 8px;
  width: 100%;
}

.thumbs_feedback_question {
  margin-right: 15px;
  padding-top: 10px;
  font-weight: 600;
}

.question {
  font-style: italic;
  font-size: 0.95rem;
}

.label {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 600;
  font-style: italic;
}

.after {
  margin-top: -10px;
  font-weight: 600;
  font-style: italic;
}

.question_group {
  padding-top: 10px;
  min-height: 50px;
}

.button:hover {
  background-color: var(--mantine-color-teal-2);
  color: var(--mantine-color-teal-7);
}

.button {
  background-color: var(--mantine-color-teal-1);
  color: var(--mantine-color-teal-9);
}

.no_pointer {
  pointer-events: none;
}

.paper {
  margin-bottom: 10px;
  margin-top: 10px;
}

.done {
  margin-bottom: 25px;
}

.thumbs_done {
  margin-left: 10px;
}

.selected {
  background-color: var(--mantine-color-teal-4);
  color: var(--mantine-color-teal-10);
}
