.group {
  max-width: 800px;
  padding-left: 10px;
  padding-right: 40px;
}

.textarea {
  * textarea {
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 1.05rem;
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.button {
  max-width: 110px;
  border-radius: 20px;
  height: 44px;
}
